@page "/calculate"
@inject HttpClient Http
@inject IJSRuntime JS

@if( IsLoading )
{
    <p>
        Загрузка...
    </p>
}
else
{
    <h3>Calculate</h3>
    <table>
        <tr>
            <td>
                <select class="custom-select" style="width:150px" @bind="FirstCurrency">
                    @if( Currencies != null )
                    {
                        @foreach( var item in Currencies )
                        {
                            if( item.Name == "USD" )
                            {
                                <option value="@item.Value" selected="selected">@item.Name</option>
                            }
                            else
                            {
                                <option value="@item.Value" >@item.Name</option>
                            }
                        }
                    }
                </select>&nbsp;&nbsp;
                <input id="firstNum" placeholder="0.00" type="number" step="any" min="0" onkeypress="checkForDotAndZero(event,this)" oninput="TriggerOnChange(this)" @bind="FirstValue" />
            </td>
            </tr>
        <tr>
            <td>
                <select class="custom-select" style="width:150px" @bind="SecondCurrency">
                    @if( Currencies != null )
                    {
                        @foreach( var item in Currencies )
                        {
                            if( item.Name == "RUB" )
                            {
                                <option value="@item.Value" selected="selected">@item.Name</option>
                            }
                            else
                            {
                                <option value="@item.Value" >@item.Name</option>
                            }
                        }
                    }
                </select>&nbsp;&nbsp;
                <input id="secondNum" placeholder="0.00" type="number" step="any" min="0" onkeypress="checkForDotAndZero(event,this)" oninput="TriggerOnChange(this)"  @bind="SecondValue" />
            </td>

        </tr>
    </table>
    <label style="color:skyblue">Данные по курсам валют получены на @LastTimeUpdate</label>
    <br />
}

@code {
    protected override async Task OnInitializedAsync()
    {
        await LoadCurrency();
        FirstCurrency = Currencies.Where( item => item.Name == "USD" ).Select( item => item.Value ).FirstOrDefault();
        var rubls = Currencies.FirstOrDefault( item => item.Name == "RUB" );
        SecondCurrency = rubls.Value;
        FirstValue = 1;
        IsLoading = false;
    }
}
