@page "/calculate"
@inject HttpClient Http

@if( IsLoading )
{
    <p>
    Загрузка...
    </p>
}
else
{
    <h3>Calculate</h3>
    <table>
        <tr>
            <td>
                <select class="custom-select" style="width:150px" @bind="firstCurrency">
                    @if( Currencies != null )
                    {
                        @foreach( var item in Currencies )
                        {
                            if( item.Name == "USD" )
                            {
                                <option value="@item.Value" selected="selected">@item.Name</option>
                            }
                            else
                            {
                                <option value="@item.Value" style="background-image:url(i/icon-512.png)">@item.Name</option>
                            }
                        }
                    }
                </select><br />
                <input id="firstNum" type="number" step="any" min="0" oninput="checkForZero(this)" />
            </td>
            <td>
                <select class="custom-select" style="width:150px" @bind="secondCurrency">
                    @if( Currencies != null )
                    {
                        @foreach( var item in Currencies )
                        {
                            if( item.Name == "RUB" )
                            {
                                <option value="@item.Value" selected="selected">@item.Name</option>
                            }
                            else
                            {
                                <option value="@item.Value" style="background-image:url(i/icon-512.png)">@item.Name</option>
                            }
                        }
                    }
                </select><br />
                <input id="secondNum" type="number" step="any" min="0" oninput="checkForZero(this)" />
            </td>

        </tr>
    </table>
    <br />
    <input id="firstList" type="number" @bind="firstCurrency" />
    <input id="secondList" type="number" @bind="secondCurrency" />
    <input type="number" step="any" />
}

@code {
    protected override async Task OnInitializedAsync()
    {
        await LoadCurrency();
        firstCurrency = Currencies.Where( item => item.Name == "USD" ).Select( item => item.Value ).FirstOrDefault();
        secondCurrency = Currencies.Where( item => item.Name == "RUB" ).Select( item => item.Value ).FirstOrDefault();
        IsLoading = false;
    }
}
